html,
body {
    width: 100%;

}

body {
    font-family: 'Lato', sans-serif;
}


.logo {
    width: 25%;
    height: auto;

}

.navbar-inverse{
    background: rgba(255, 255, 255, 0.7);
    background-color: transparent;
    border: 0px;
    margin: 0;
    padding-top: 2%;
    margin-bottom: 0;

}

.navbar-header{
    width: 100%;
}
.nav-logo{
    height: 45px;
    margin-left: 17%;
    position: relative;
    float: left;
}
.logo-and-text, .foot-logo{
    display: none !important;
    
}

.just-logo{
    height: 40px;
    display: none;
    margin-top: 2%;
    margin-left: 2%;
    padding-left: 2%;
}

.nav-hero {
    background-image: url(../img/dark-splash-background.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



header {
    position: relative;
    width: 100%;
    height: 40%;
    text-align: center;
    color: #fff;
   
}
header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    padding-bottom: 5px;
    padding-top: 7%;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 37px;
    font-size: 62px;/*32 px for mobile, 62 for Desktop*/
    font-weight: 900;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-weight: 500;
     font-size: 14px;
     padding-left: 10%;
     padding-right: 10%;

 color: rgb(255, 255, 255);
 line-height: 1.75;
 text-align: center;
}

header .header-content .header-content-inner .form {
    width: 50%;
    margin: auto;

}
header .header-content .header-content-inner .header-social-icon {
    display: inline-block;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: white;
}

header .header-content .header-content-inner .header-article-pointer {

    color: gray;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 0px;
}
.mobile-p1-br{
    display: none;
}
.glyphicon-chevron-down{
    color: gray;
}

.form-inline .form-group input {
    display: inline;
    height: 55px;
    border: none;
    margin-right: 5px;
    width: 280px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px; 
}


.articles {
  text-align:center;
  padding: 2%;

}

.articles-title {
  font-size: 2.0em;/*20px for mobile*/
  font-weight: bold;
}


hr {
    max-width: 50px;
    border-width: 8px;
}


.black-hr {
  border-color: black;
}
.gray-hr {
    border-color: #131719;
    margin-bottom: 20px;
}
.poster {
    position: relative;
      display: inline-block !important;
      border-color: #d7d9d9;
      border-style: solid;
      border-width: 1px;
      background-color: white;
      box-shadow: 0 0 1px 1px #d7d9d9;
      white-space: normal !important;/*weird little workaround that does word wrapping past max width*/

      height: 400px;
      width: 300px;
      font-weight: 900;
      padding-left: 15px;
      padding-right: 15px;
      margin: 1.75%;

  /*DO NOT REMOVE:the following two lines help fix alignment issues with the article posters*/
      overflow: hidden;
      text-overflow: ellipsis;
}

.poster-logo {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.tart {
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: 800;
    color: black;
}
.link-spanner{
      position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.article-link {
    position: absolute;
    bottom: 0;
    left: 32%;
    padding-bottom: 50px;
}

.green-link {
    color:#42aa67;
}


.navbar-right{
    margin-right: 3%;
}
/*

footer {

    display:  inline;
    border-top: 5px solid green;
    width: 100%;
    bottom: 0px;
    max-height: 10%;
    min-height: 5%;
    background-color: transparent;
    margin-left: 0px;
    margin-right: 0px;
}
*/

footer {
  border-color: #d7d9d9;
  border-style: solid;
  border-width: 1px;
  background-color: white;
    position: relative;
    max-width: 100%;
    bottom:0px;
}
.foot-logo {
    left:0px;
    float: left;
    max-width: 33%;
    margin-left: 7%;
    max-height: 30px;
}

.foot-icons {
    float: right;
    margin-right: 5%;
    padding-right: 2px;
}

.icon-2x {
    color: black;
    font-size: 24px;
}
.icon-facebook-official{
    padding-right: 22px;
}


.social-icon {
    display: inline;
    float: right;
    max-height: 25px;
    padding-right: 15px;
    padding-top: 5px;
    color: white;
}
.nav-icon {
    color: white;
    float: right;
}

.just-black-logo{
    display: block;
        left:0px;
    float: left;
    max-width: 33%;
    margin-left: 7%;
    max-height: 30px;

}
.foot-row {
    display: inline-block;
    width: 100%;
    max-height: 112px;
    padding-bottom: 2%;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
}



@media(max-width: 415px) {
    header .header-content .header-content-inner h1 {

        font-size: 32px;/*32 px for mobile*/
    }
    header .header-content .header-content-inner .header-article-pointer {
        margin-top: 15px;
        font-size: 14px;
    }
    header .header-content .header-content-inner .header-social-icon {
        margin-top: 15px;
    }
    .just-logo{
        display: inline-block;
    }
    .just-black-logo{
        display: inline-block;
    }
    .mobile-p1-br{
        display: inline;
    }
    .mobile-p2-br{
        display: none;
    }
    .nav-icon {
        display: inline;
    }
    .foot-row {
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .tart {
        padding-top: 30px;
    }
    .poster{
        height: 44%;
    }
    .article-link{
        position: static;
        padding-top: 30px;
        padding-bottom: 30px;
    }

}
@media (min-width: 319px) and (max-width: 494px){
    .form-inline .form-group input {
        float: none;
        width: 59%;
        margin: 0 auto;
        display: block;
        padding: 5px;/*padding messes with width while scaling up from mobile*/
    }

}
@media(min-width: 415px) and (max-width: 582px){
        .mobile-p2-br{
            display: none;
    }
}

@media(min-width: 406px) and (max-width: 800px) {
    header .header-content .header-content-inner h1 {

        font-size: 45px;/*45px for tablet*/
    }
}

@media(max-width: 936px){
    .h1-br{
        display: none;
    }
    .navbar-inverse{
        margin-bottom: 3%;
    }
}

@media(min-width: 769px){
    .nav-icon, .just-logo, .just-black-logo{
        display: none !important;
    }
        .logo-and-text,.foot-logo{
        display: inline !important;
    }


}

@media (min-width: 638px) and (max-width: 959px) {

    .poster{
    margin-left: 9.5%;
        margin-right: 9.5%;
    }
}
@media (min-width: 960px) and (max-width: 1056px){
    .poster{
        margin: .25%;
    }
}

