{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta charset="UTF-8">
	<title>SavvySplash</title>
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/btn.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/npm.js' %}"></script>
	<link href="{% static 'css/splash.css' %}" rel="stylesheet" type="text/css" >
	<script src='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'></script>
    <script src="https://use.fonticons.com/b92fc55f.js"></script><!--Icons-->


</head>

<body id="page-top">
    <section class="nav-hero">



        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a href="#" class="navbar-brand">
                <img class="img-responsive nav-logo logo-and-text" src="{% static 'img/ss_wordmark-norm-white.png' %}">
              </a>
              <a class="navbar-brand" href="#">
                  <img class="img-responsive nav-logo just-logo" src="{% static 'img/ss_logo-white.png' %}">
              </a>

              <ul class="nav navbar-nav navbar-right">
                <li><button href=""class=" square contact">Contact Us</button></li>
                <li><a href="" ><i class=" icon icon-envelope-o icon-2x nav-icon"></i></a></li>                
              </ul>
            </div>
            </div>
        </nav>

     	<header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>Saving cord cutters fat stacks by<br class="h1-br"> making ditching cable easy peasy.</h1>
                    <hr class="gray-hr">
                    <p>We're working hard to get you<br class="mobile-p1-br"> the best, clearest info on everything you <br class="mobile-p2-br">need to know to get rid of cable and still enjoy your favorite shows.</p>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input type="email" class="form-control email-form" id="email" placeholder="     Email Address">
                            <button href="#about" class="btn btn-green page-scroll square keep-updated">Keep Me Updated</button>
                        </div>
                    </form>
                        <a href=""><i class="icon header-social-icon icon-facebook-official icon-2x"></i></a>
                        <a href=""><i class="icon header-social-icon icon-twitter icon-2x"></i></a>
                    <p class="header-article-pointer">Related Articles</p>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
            </div>

    	</header>
    </section>



    <section class="related-articles">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 articles">
                    <h1 class="articles-title">People who know what we're talking about</h1>
                    <hr class="black-hr">
                    <h5>Check out these related articles</h5>
                    <div class="poster-row">
                        <div class="poster">
                            <!--Image -->
                            <a href="http://time.com/"><img class="img-responsive poster-logo" src="{% static 'img/time-logo.png' %}"></a>
                            <!--Article Title -->
                            <div class="tart quickfit">Why millenials are increasingly cutting the cord.</div>
                            <!--Read Article: Link -->
                            <div class="article-link"><a href="#">Read the Article</a></div>
                        </div>
                        <div class="poster">
                            <a href="http://mashable.com/"><img class="img-responsive poster-logo" src="{% static 'img/mashable-logo.png' %}"></a>
                            <div class="tart quickfit">Have You Cut the Cable Cord?</div>
                            <div class="article-link"><a href="#">Read the Article</a></div>
                        </div>
                        <div class="poster">
                            <a href="http://www.nytimes.com/"><img class="img-responsive poster-logo" src="{% static 'img/nyt-logo.png' %}"></a>
                            <div class="tart quickfit">7 Streaming TV Packages That Will Let You Cut the Cord For Good.</div>
                            <div class="article-link"><a href="#">Read the Article</a></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

	<footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 foot-row">
                	<img class="img-responsive center-block foot-logo" src="{% static 'img/footer-logo.png' %}" alt="">
                        <img class="img-responsive center-block just-black-logo" src="{% static 'img/ssvv.png' %}">
                    <div class="foot-icons">
                        <a href=""><i class="icon icon-facebook-official icon-2x"></i></a>
                        <a href=""><i class="icon icon-twitter icon-2x"></i></a>
                    </div>                
                </div>
            </div>
        </div>
    </footer>

</body>

</html>