header {
	text-align: center;
    color: #fff;
	background:#E27531 ;
}

header .container {
    /*padding-top: 100px;*/
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .name {
	display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3em;
    font-weight: 700;
}


.info-dump {
	height: auto;
	padding-top: 50px;
    padding-bottom: 15px;
}

.mid-left {
    
}

h1 .mid-title-left, .mid-title-right {
	
    position:absolute;
    text-align:center;
    vertical-align: center;
}
.mid-title-left, .list-group {
	/*border-right: 5px solid #333;*/
	height: auto;
	padding-right: 50px;
}

.mid-title-right {
    height: auto;
}

.img-thumbnail {
	background-color: transparent;
	height: 45px;
}
.navbar {
   background-color: white;
   background: white;
   border-color: transparent;
}
.snippet {
  clear: both;
  margin: 24px 0;
}
.navbar-btn {
    float: right;
}

.snippet__thumbnail {
    width: 100px;
    float: left;
    margin-right: 1em;
}
.snippet__title {
  font-weight: 500;
  font-family: inherit;
  line-height: 1.1;
}

.snippet__title a {
  text-decoration: none;
  color: #666;
  padding: 1.5em inherit;
}

.snippet__title a:hover,
.snippet__title a:active {
  text-decoration: underline;
}

.news-feed {

}


.news-thumbnail {
  width: 100px;
  float: left;
  margin-right: 1em;
}

.news__title {
  border-bottom: 1px solid #E0E0E0;
}

.navbar li { color: #E27531 } 

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

@media(max-width: 500px){

	header .img-responsive{
		max-width: 100px;
	}

	}


}